.navBar {
  margin:15px;
  padding:5px;
  width: 100%;
  font-size: larger;
}
h1 {
  text-align: center;
}
a{
  text-decoration: none;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}


.itemListContainer {
  display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap
}

.carritoContainer {
  display: flex;
  flex-direction:column;
  align-items: center;
}

.itemContainer {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;

}

.itemDetailContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.itemDetail {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  background-color: wheat;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  margin-top: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

 ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  padding: 0;
}

.itemCounter {
  background-color: rgb(213, 245, 179);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

button {
  border-radius: 3px;
}

li {
  list-style-type: none;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.itemInCart {
  width: 100;
}

.Item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: wheat;
  border-radius: 10px;
  padding: 5px;
  width: 25%;
  margin: 5px;
  margin-top: 20px;
}

img{
  width: 100%;
  border-radius: 5px;
}

.formContainer {
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  background-color: wheat;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 5px;
  border-radius: 5px;
}

.generarOrden {
  margin: 50px;
  padding: 10px;
  background-color: rgb(97, 172, 97);
  color: wite;
  font-size: 20px
  ;
}

.adminItemContainer{
  display:flex;
  flex-direction: row;
}

.adminItem{
  display:flex;
  justify-content: space-around;
  flex-direction: row;
  
}

.adminImg{
  width: 100px;
}

.buttonAdmin{
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
