.navBar {
  margin:15px;
  padding:5px;
  width: 100%;
  font-size: larger;
}
h1 {
  text-align: center;
}
a{
  text-decoration: none;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

.navContainer {
  width: auto;
    padding-right: 180px;
}

.imgEdit{
  width: 20%;
}

 Nav {
  font-size: 20px;
}
.itemListContainer {
  display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap
}

.itemCounter {
  padding-bottom: 10px;
}

.carritoContainer {
  display: flex;
  flex-direction:column;
  align-items: center;
}

.itemContainer {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;

}

.itemDetailContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detailContainer {
  display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.itemDetail {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  background-color: wheat;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  margin-top: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

 ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  padding: 0;
}

tr > td{
  text-align: center;
}

tr > th {
  text-align: center;

}

.itemCounterText {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.button {
  position: relative;
  background-color: #04AA6D;
  border: none;
  font-size: 28px;
  color: #FFFFFF;
  padding: 20px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.button:after {
  content: "";
  background: #90EE90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.generateOrder {
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  text-align: center;
  padding: 20px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.generateOrder span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.generateOrder span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.generateOrder:hover span {
  padding-right: 15px;
}

.generateOrder:hover span:after {
  opacity: 1;
  right: 0;
}

.addOrDelete {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;

}

.addOrDelete:hover {background-color: #3e8e41}

.addOrDelete:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

button {
  border-radius: 3px;
}

li {
  list-style-type: none;
  text-align: center;
}



td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}



.Item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: wheat;
  border-radius: 10px;
  padding: 5px;
  width: 25%;
  margin: 5px;
  margin-top: 20px;
}

img{
  width: 100%;
  border-radius: 5px;
}

.formContainer {
  width:100%;
  display: flex;
  padding: 45px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  box-shadow: 9px 10px 7px 0px #14161947;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 40px;
  border-radius: 10px;
	background: linear-gradient(100deg, #faf795, rgb(252, 213, 153));
  width: 420px;
}

.userInfo > li {
  font-size: 14px;
}


.inputForm {
  width: 80%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

ul > li {
  width: 100%;
  margin-right: 30px;
}

.card {
  box-shadow: 9px 10px 7px 0px #14161947;
  margin-top: 30px;
  border: none;
}




.card:hover{
  transition: transform 0.2s ease-out;
  transform: translateY(-10px);
}

.loginOptions {
  display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
}

.tuvieja {
  width: 120%;
}

label {
  text-align: center;
  display: flex;
  justify-content: center;
}

.generarOrden {
  margin: 50px;
  padding: 10px;
  background-color: rgb(97, 172, 97);
  color: wite;
  font-size: 20px
  ;
}

.adminItemContainer{
  display:flex;
  flex-direction: row;
}

.adminItem{
  display:flex;
  justify-content: space-around;
  flex-direction: row;
  
}

.adminImg{
  width: 100px;
}

.passwordValidationOk{
  color: green;
}

.loader {
  display: inline-block;
  position: absolute;
  top:50%;
  left: 48%;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
 }
 
 .loader div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: rgb(254, 222, 92);
  animation: loader45 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
 }
 
 .loader div:after,
 .loader div:before {

  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: rgb(254, 222, 92);
 }
 
 .loader div:before {

  left: -24px;
  border-radius: 50% 0 0 50%;
 }
 
 .loader div:after {

  top: -24px;
  border-radius: 50% 50% 0 0;
 }
 
 @keyframes loader45 {
  0% {
   transform: scale(0.95);
  }
 
  5% {
   transform: scale(1.1);
  }
 
  39% {
   transform: scale(0.85);
  }
 
  45% {
   transform: scale(1);
  }
 
  60% {
   transform: scale(0.95);
  }
 
  100% {
   transform: scale(0.9);
  }
 }
nav {
  background-color: yellow;
}

body {
	font-family: sans-serif;
	font-weight: 100;
}

.tableContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
table {
  width: 70%;
}

td > img {
  width: 10%;
}



